<!DOCTYPE html>
<html>
<head>
<!-- Font awesome for rating star -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<title>Categories</title>
</head>
<body style="background-color: #ecf0f1;">
<div class="container"> <!-- bootstrap container -->
	<div class="row-fluid">
	<br>

			<!-- Logo -->
			<a style="font-size: 2em; color: #2c3e50;" href="/category"><img src="http://i.imgur.com/dZqh3TO.png" title="source: imgur.com" />Categories</a>
			<br>
			<br>		
			<div class="row">
			<div class="col-md-2">
			<% category.forEach(function(obj){  %>
				<img class="categoryImg" style="height:150px;max-width:150px;width: expression(this.width > 500 ? 500: true);" id="Happy_CpuDude" src="<%= obj.pic %>" />
				
				<br>
				<br>
			<% }); %>
			
			</div>
		<div class="col-md-8" style="">
					<!-- <h2>Categories</h2> -->
					<% category.forEach(function(obj){  %>
					<h2><a style="font-size: 1em; color: #2c3e50;" href="/category/<%= obj.id %>"><%= obj.title %></a></h2>
					<p style="font-family:'Bookman Old Style', Bookman, 'URW Bookman L', 'Palatino Linotype', serif; color: #2c3e50;"><%= obj.description %></p>
				<p style="font-family: monospace;"><b>by: <%= obj.author %></b></p>
				<i class="fa fa-star"> <%= obj.vote %></i>
				<br>
				<br>
			<% }); %>
		</div>
	</div>
</div>
	<a href="/category/new">Create a new category</a>	
</body>
</html>

