<!DOCTYPE html>
<html>
<head>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<title>partials</title>
</head>
<body>
<div class="container"> <!-- bootstrap container -->
	<div class="row-fluid">
			<!-- Logo -->
			<a href="/forum"><img src="http://i.imgur.com/gAfGdf3.png" title="source: imgur.com" />Categories</a>		
			<div class="row">
			<div class="col-md-2">
			<% category.forEach(function(obj){  %>
				<img class="categoryImg" style="height:150px;max-width:150px;width: expression(this.width > 500 ? 500: true);" id="Happy_CpuDude" src="<%= obj.pic %>" />
				
				<br>
				<br>
			<% }); %>
			
			</div>
		<div class="col-md-8" style="">
					<!-- <h2>Categories</h2> -->
					<% category.forEach(function(obj){  %>
					<h2><a href="/category/<%= obj.id %>"><%= obj.title %></a></h2>
					<p style="font-family: monospace;"><%= obj.description %></p>
				<p style="font-family: monospace;"><b>by: <%= obj.author %></b></p>
				<h4>Votes: <%= obj.vote %></h4>
				<br>
			<% }); %>
				<p>Awesome</p>
		</div>
	</div>
</div>
	<a href="/category/new">Create a new category</a>	
</body>
</html>

