<!DOCTYPE html>
<head>
<!-- Font awesome for rating star -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<title>Posts</title>
</head>
<div class="container"> <!-- bootstrap container -->
	<div class="row">
		<div class="col-xs-3"></div>
			<div class="col-xs-6">

<!-- Show created posts -->
<body style="background-color: #ecf0f1;">
<div class="container">
	<div class="row">
		<div class="col-x4-6 col-md-4">	
		<h3>Posts</h3>
			
			<p><% post.forEach(function(obj){  %></p>
			<a style="width: 400px; color: #2c3e50;" href='/post/full/<%=obj.id %>'><%= obj.title %></a>
				<i class="fa fa-star"> <%= obj.vote %></i>
				<br>
			<% }); %>
			<br>
			<% deadpost.forEach(function(obj){  %>
			<p style="color: #2c3e50;"><%= obj.title %> <i class="fa fa-lock"> </i></p>
			<% }); %>
			<a style="font-size: 1em; color: hotpink;" href='/forum'>Back to main page</a>
		</div>
		<div class="col-md-6">
		<h3>Create New Post</h3>
		<!-- Create new post form -->
	<!-- 	<h2>Create new post</h2> -->
		<form action = "/posts" method="POST">
		<input style = "width: 250px" type='text' name='title' placeholder='title' required >
		<br>
		<textarea name="post" style="margin: 0px; max-height: 350px; max-width: 312px;height: 250px;width: 250px;" placeholder='Write something'required> </textarea>
		<br>
		<input style = "width: 250px" type=text name='author' placeholder='author'>
		<br>
		<input style = "width: 250px" type=text name='timetolive' placeholder='Format YYYY-MM-DD HH:MM' required>
		<input type='hidden' name='category_id' value=<%= id %> >
		<input type='hidden' name='vote' value='0'>

		<button> Create</button>
		<br>
		<br>

		</form>
		<!-- Subscribe button -->
		<form action="/subscriptions" method="POST">
      <input type="text" name="email" placeholder="Add email to subscribe" required>
      <input type="hidden" name="category_id" value="<%= id %>">
      <button>Subscribe to this seed</button>
    	</form>
		<!-- UPvote Downvote buttons -->
		<form action = "/category/<%= id %>?_method=PUT" method="POST">
		<input type='hidden' name='Upvote' value="+1" >
		<input name="upvote" type="submit" id="rateup" value="Upvote" />
		</form>
		<form action = "/category/<%= id %>?_method=PUT" method="POST">
		<input type='hidden' name='Downvote' value="-1" >
		<input name="downvote" type="submit" id="ratedown" value="Downvote"/>
		</form>
		<br>
		<br>
		<form method="POST" action="/category/<%= id %>?_method=DELETE">
		    <button>Delete this category</button>
		  </form>
		  </br>
		 <form action="action_page.php">
		  E-mail:
		  <input type="email" name="email">
		</form>
		<br>
		</div>
	</div>
</div>
</body>
</html>
</body>
</html>