<!DOCTYPE html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<title>Posts</title>
</head>
<div class="container"> <!-- bootstrap container -->
	<div class="row">
		<div class="col-xs-3"></div>
			<div class="col-xs-6">

<!-- Show created posts -->
<body style= "margin-right: 700px; background-color: rgb(140,140,140);">
	<p>Hello World</p>
	<p><% post.forEach(function(obj){  %>
	<a style="font-family: monospace;width: 400px;" href='/post/full/<%=obj.id %>'><%= obj.title %></a>
	<% }); %>
	</p>
	<br>
<!-- Create new post form -->
<h2>Create new post</h2>
<form action = "/posts" method="POST">
<input style = "width: 250px" type='text' name='title' placeholder='title' >
<br>
<textarea name="post" style="margin: 0px; max-height: 350px; max-width: 312px;height: 250px;width: 250px;" placeholder='Write something'required> </textarea>
<br>
<input style = "width: 250px" type=text name='author' placeholder='author'>
<br>

<input type='hidden' name='category_id' value=<%= id %> >
<input type='hidden' name='vote' value='0'>

<button> Create</button>
<br>
<br>

</form>
<!-- UPvote Downvote buttons -->
<form action = "/category/<%= id %>?_method=PUT" method="POST">
<input type='hidden' name='Upvote' value="+1" >
<input name="upvote" type="submit" id="rateup" value="Upvote" />
</form>
<form action = "/category/<%= id %>?_method=PUT" method="POST">
<input type='hidden' name='Downvote' value="-1" >
<input name="downvote" type="submit" id="ratedown" value="Downvote"/>
</form>
<br>
<br>
<form method="POST" action="/category/<%= id %>?_method=DELETE">
    <button>Delete this category</button>
  </form>
  </br>
 <form action="action_page.php">
  E-mail:
  <input type="email" name="email">
</form>
<br>
<a href='/forum'>Back to main page</a>
		</div>
	</div>
</div>
</body>
</html>
</body>
</html>